@model IdentityServer4.Models.ErrorMessage
<h1>Error Occured</h1>

<h3>Client Id is  : @Model.ClientId</h3>
<h5>Error Description  : @Model.ErrorDescription</h5>
<h5>Display Mode is  : @Model.DisplayMode</h5>
<h5>Redirect Uri is  : @Model.RedirectUri</h5>
<h5>Request Id is  : @Model.RequestId</h5>
<h5>Response Mode  is  : @Model.ResponseMode</h5>
<h5>Locale is  : @Model.UiLocales</h5>

